{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Our app is a dynamic blogging platform designed to foster community interaction through the sharing of posts and ideas. Users can register and log in securely to create blog posts on various topics, comment on existing articles, and engage with other users. With a seamless interface powered by Flask, Bootstrap, and CKEditor, the app allows for easy content creation, editing, and interaction. Posts are displayed with essential information such as the title, subtitle, and publication date, while users can enrich the content with images and comments.</p>
        <p>For added security, the app incorporates password hashing using the pbkdf2:sha256 method, ensuring that user data is protected. Admins have special privileges to create, edit, and delete posts, while registered users can contribute by leaving comments. Each user interaction, including post creation and commenting, is timestamped, promoting accountability and transparency. Additionally, the app integrates Gravatar for user avatars and provides a visually appealing experience for all users.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}