{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Page Header -->
<header class="masthead" style="
    background-image: url('{{ url_for('static', filename='img/bg4.jpeg') }}'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    filter: brightness(1.1) contrast(1.2);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          {% if current_user.is_authenticated: %}
          <h1>{{ current_user.name }}, Welcome to Intel-Vibez Blog</h1>
          {% else %}
          <h1>Welcome to Intel-Vibez Blog</h1>
          {% endif %}
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- Profile Menu -->
      <div class="profile-menu">
        <a href="javascript:void(0)" onclick="openProfileSidebar()">Profile</a>
      </div>

      <!-- Profile Sidebar -->
      <div id="profileSidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeProfileSidebar()">&times;</a>
        <div class="profile-content">
          <h2>{{ current_user.name }}</h2>
          {% if current_user.profile_picture %}
          <img src="{{ current_user.profile_picture }}" alt="Profile Picture" class="img-fluid rounded-circle">
          {% else %}
          <img src="{{ url_for('static', filename='default_profile.png') }}" alt="Profile Picture" class="img-fluid rounded-circle">
          {% endif %}
          <p>{{ current_user.bio }}</p>
          <p>Email: {{ current_user.email }}</p>
        </div>
      </div>

      <hr>
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          {% if post.image_url %}
          <img src="{{ post.image_url }}" alt="Post Image" class="img-fluid">
          {% endif %}
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.subtitle}}
          </h3>
        </a>
        <p class="post-meta">Posted by

          {{post.author.name}}
          on {{post.date}}
          {% if current_user.id == 1: %}
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      {% endfor %}

      <!-- New Post -->
      {% if current_user.id == 1: %}
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<hr>

{% include "footer.html" %}